<br />
<div class="panel panel-default">
  <div class="panel-heading">
    Welcome
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="../../assets/images/logo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Desarrollado por:</div>
      <div class="text-center">
        <h3>Bryan Felipe Garcia Collazos</h3>
      </div>

      <div class="text-center">@BryanGACO</div>
      <div class="text-center">        
      </div>
    </div>
  </div>
</div>
